body{
  background-color: lightblue;
}
.oldal{
  display: flex;
  flex-flow: wrap;
  width: 1000px;
  margin: auto;
}
menu{
  width: 900px;
  margin: auto;
  border-top: 10px solid black;
  border-right: 10px solid black;
  border-left: 10px solid black;
  font-size: 20px;
  padding: 15px;
  background-color: lightblue;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  font-size: 1.5em;
  color: purple;
}
h1{
  text-align: center;
}
.tartalom{
  background-color: honeydew;
  margin: auto;
  width: 900px;
  padding: 15px;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
}
img{
   height: auto;
  width: 200px;
  }
