body{
  background-color: lightblue;
}
.oldal{
  display: flex;
  flex-flow: wrap;
  width: 1200px;
  margin: auto;
}
.menu{
  width: 900px;
  margin: auto;
  border-top: 10px solid black;
  border-right: 10px solid black;
  border-left: 10px solid black;
  font-size: 20px;
  padding: 15px;
  background-color: lightblue;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  font-size: 1.5em;
  color: purple;
}
a:hover{
  font-size: 1.5em;
  color: lightgreen;
}
h1{
  text-align: center;
}
#sor{
  text-align: center;
}
.tartalom{
  background-color: honeydew;
  margin: auto;
  width: 900px;
  padding: 15px;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
}
img{
   height: auto;
  width: 200px;
  
  }

  table>td{
    width: 500px;
  }
  table>tr{
    width: 500px;
  }
  @media screen and (max-width:576px){
    .oldal{width: 500px;
    }
    .menu{
        width: 400px;
    }
    .tartalom{
        width: 400px;
    }
    table{
        width: 400px;
        margin: auto;
    }
    table>tr{
        width: 300px;
    }
     img{
        width: 100px;
        height: auto;
     }   
    
        table>td{
        width: 300px;
    }
    
    
   
  }
  @media screen and (max-width:1200px){
    .menu{
        width: 700px;
    }
   
    .tartalom{
        width: 700px;
    }
  }
